.container{
    display: grid;
    grid-template-columns: repeat(2,minmax(40px, 1fr));
    grid-template-rows: repeat(3,minmax(60px, 1fr));
    gap: 5px;
}
.container div{  
    border: 1px solid;
}
@media (max-width:768px) {
    .container{
        grid-template-columns: repeat(1,minmax(40px,1fr));
        grid-template-rows: repeat(6,minmax(60px,1fr));
    }
}