.abs{
    position: fixed;
    text-align: center;
    background-color: darkslateblue;
    color: aliceblue;
    width: 100%;
    font-size: 36px;
    height: 100px;
}
.bcd{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 70%;
    text-align: center;
    text-align: center;
    margin: auto;
}
p{
    font-size: 23px;
}
header{
    background-color: darkslateblue;

}
table{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}