.test{align-items: center;
    text-align: center;
margin: auto;}
.test input{padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
}
body{background-color: #f8f8f8;}
form{width: 320px;
    align-content: center;
    padding: 15px;
background-color: #fff;}
.ButtonfromFrance{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1cbc11;
    font-weight: bold;
    text-align: center;
    vertical-align: text-middle;
    width: 285px;
    padding: 15px;
}
.ButtonfromFrance:hover{

background: #14a20a;

}
H1{text-align: center;}
.DivNotFromFrance{text-align: center;}
