body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  
  /* Nav */
  .nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-item:hover > .subnav {
    display: block;
  }
  
  .nav-link {
    display: block;
    padding: 8px 16px;
    
    background-color: #444;
    
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #333;
  }
  
  
  /* Subnav */
  .subnav {
    display: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: 14px;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  
  .subnav-link {
    display: block;
    padding: 8px 16px;
    
    background-color: #333;
    
    color: #fff;
    text-decoration: none;
  }
  
  .subnav-link:hover {
    background-color: #444;
  }