.overflow1{
    overflow: hidden;
    width: 290px;
    height: 50px;
    border: 1px solid;
    transition: all 0.5s;
}
.overflow1:hover{
    width: 600px;
}
.overflow2{
    margin-top: 10px;
    overflow: hidden;
    width: 30%;
    height: 50px;
    border: 1px solid;
}
.overflow2:hover{
    width: auto;
}